* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
}

body {
    height: 100vh;
    font-size: 62.5%;
    font-family: "Roboto", "Tahoma", "Verdana";
}

.container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.controls {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 70px 70px 70px 140px;
    grid-template-rows: repeat(6, 70px);
    grid-template-areas:
        "levels levels levels levels"
        "key-1 key-2 key-3 delete"
        "key-4 key-5 key-6 restart"
        "key-7 key-8 key-9 check"
        "answer answer answer answer"
        "timer timer timer timer";
    gap: 10px;
}

.keypad {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.key {
    border-radius: 8px;
    color: white;
    font-size: 1.5rem;
    background-color: rgb(63, 157, 160);
}

.btn {
    border: 1.5px solid black;
    border-radius: 8px;
    color: rgb(63, 157, 160);
    font-size: 1.6rem;
    font-weight: 450;
}

.restart-selected {
    background-color: rgb(237, 90, 90);
    color: rgb(255, 255, 255);
}

.btn:hover {
    color: rgb(63, 157, 160);
    background-color: rgba(63, 157, 160, 0.144);
}
.btn:active {
    color: white;
    background-color: rgba(63, 157, 160, 0.63);
}

.active {
    color: white !important;
    pointer-events: none;
    background-color: rgba(63, 157, 160, 0.63);
}

.key:hover {
    background-color: rgb(61, 184, 189);
}
.key:active {
    background-color: rgba(61, 185, 189, 0.63);
}

.timer {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: 8px;
    color: rgb(175, 29, 58);
    background-color: rgba(88, 47, 47, 0.13);
}

.sudoku {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(9, 60px);
    grid-template-rows: repeat(9, 60px);
    justify-items: center;
    align-items: center;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(29, 106, 229);
    font-size: 2.5rem;
    cursor: pointer;
}

.pre-set {
    color: black !important;
}

.top-big {
    border-top: 3px solid black;
}
.bottom-big {
    border-bottom: 3px solid black;
}
.left-big {
    border-left: 3px solid black;
}
.right-big {
    border-right: 3px solid black;
}
.bottom {
    border-bottom: 1px solid black;
}
.left {
    border-left: 1px solid black;
}

.levels {
    grid-area: levels;
    display: flex;
    justify-content: space-between;
    color: rgb(63, 157, 160);
    font-size: 1.6rem;
    font-weight: 450;
}

.easy,
.medium,
.hard {
    grid-area: levels;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid black;
    border-radius: 8px;
    height: 100%;
    color: rgb(63, 157, 160);
    cursor: pointer;
}

.easy {
    grid-area: easy;
    width: 115px;
}

.medium {
    grid-area: medium;
    width: 115px;
}

.hard {
    grid-area: hard;
    width: 115px;
}

.select-box {
    background-color: rgb(255, 235, 127);
}

@media (max-width: 600px) {
    html {
        width: 600px;
    }
}
